@import "@/assets/sass/module.scss";

.fileList {
	position: fixed;
	top: 0;
	left: -400px;
	z-index: 99;
}

.bg {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
}

.file {
	width: 500px;
	padding: 20px;

	.nav {
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;

		.title {
			color: $font-title-color;
			font-size: 28px;
			font-weight: bold;
			cursor: pointer;
			transition: 0.2s;
		}
		.title:hover {
			color: $green-color-1;
		}
		.buttonBox {
			display: flex;

			input {
				display: none;
			}
			label {
				span {
					height: 100%;
					margin-left: 20px;
					text-decoration: none;
					width: 100px;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 2px solid $green-color-1;
					border-radius: 12px;
					background-color: $background-color;
					transition: 0.2s;
					svg,
					p {
						margin: 2px;
					}
				}
				span:hover {
					color: $white-color;
					border: 2px solid $green-color-2;
					border-radius: 12px;
					background-color: $green-color-1;
				}
			}
		}
	}

	.content {
		width: 100%;
		max-height: 600px;
		padding: 10px;
		overflow: scroll;
		display: flex;
		justify-content: center;

		ul {
			li {
				width: 400px;
				list-style: none;
				margin-bottom: 10px;
				padding: 15px;
				background-color: $white-color;
				border: 2px solid $green-color-1;
				border-radius: 20px;
				box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.3);
				transition: all 0.2s ease-in-out;

				.time {
					position: relative;
					color: $font-subTime-color;
					font-size: 14px;
					span {
						margin-right: 6px;
						font-weight: bold;
						color: $font-time-color;
					}
					.dot {
						width: 16px;
						height: 16px;
						position: absolute;
						top: 4px;
						right: 4px;
						background-color: $green-color-1;
						border-radius: 99px;
					}
				}
				.info {
					display: flex;
					flex-direction: column;
					margin: 4px 0;
					.name {
						font-size: 18px;
					}
					.size {
						color: $font-subTime-color;
					}
				}
				.buttonNav {
					display: flex;
					justify-content: flex-end;
					font-size: 14px;

					@include button;
					button {
						margin-left: 12px;
						padding: 5px 15px;
						border-radius: 99px;
					}
					a {
						text-decoration: none;
						padding: 5px 15px;
						border-radius: 99px;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 2px solid $green-color-1;
					}
				}
			}
			li:hover {
				scale: 1.05;
			}
		}
	}

	.state {
		width: calc(100% - 20px);
		padding: 10px;
		margin-top: 20px;
		background-color: $white-color;
		border: 2px solid $green-color-1;
		border-radius: 4px;
		box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.3);
		.index {
			display: flex;
			align-items: center;
			font-weight: bold;
		}
		.index::before {
			display: block;
			content: " ";
			width: 12px;
			height: 12px;
			margin-right: 5px;
			background-color: $green-color-1;
			border-radius: 10px;
		}
		.time {
			color: $font-subTime-color;
		}
	}
}
