// 字体
$font-mainTitle-color: #3C3C43;
$font-title-color: #000000;
$font-subTitle-color: #666666;

// 背景色
$background-color: #FFFFFF;

// 调色板
$green-color-1: #026E78;
$green-color-2: #015364;

$red-color-1: #EA4C89;
$red-color-2: #E62872;