// 字体
$font-title-color: #3C3C43;
$font-time-color: #000000;
$font-subTime-color: #666666;

// 背景
$background-color: #FFFFFF;
$background-color-1: #E6E6E6;

// 边框
$border-color: #026E78;

// 调色板
$white-color: #FFFFFF;

$green-color-1: #026E78;
$green-color-2: #015364;

$red-color-1: #e61d1d;
$red-color-2: #fdb4b880;