@import "./variables";

@mixin button {
	button, span {
		// 清除默认样式
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;

		padding: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 12px;
		cursor: pointer;
		transition: .2s;
		svg, p {
			margin: 2px;
			font-size: 13px;
		}
	}

	.brand {
		border: 2px solid $green-color-1;
		background-color: $green-color-1;
		color: #FFFFFF;
	}
	.brand:hover {
		border: 2px solid $green-color-2;
		background-color: $green-color-2;
	}
	.warn {
		border: 2px solid $red-color-1;
		background-color: $red-color-1;
		color: #FFFFFF;
	}
	.warn:hover {
		border: 2px solid $red-color-2;
		background-color: $red-color-2;
	}
}
